<html>
	<link rel="stylesheet" href="styles/style.css">
	<style>
		#top-portion{
			width:100vw;
			height:28vh;
			overflow-x:scroll;
		}

		#bottom-portion{
			width:100vw;
			height:37vh;
			overflow-x:scroll;
		}
		
		#add_snack{
			margin-bottom: 2vh;
			background-color: #3fa9f5;
		}

		.new-snack-grid{
			display: grid;
			grid-template-columns: auto 10vw; /* Two equal columns */
			gap: 20px;

		}

		.new-snack-grid button{
			box-shadow: 0px 0px black;
			width:100%;
		}

		.has-image{
			background-color:green;
		}
		
		.no-image{
			background-color:red;
		}

	</style>
	
	<body class="center">
		<h1>Add Snacks</h1>
		<!--<h1>{{ username }}</h1>-->
		<form action="/start_game" method="POST">
			<button type="submit">Start Game</button>
		</form>		
		
		<h2 style="margin-bottom: 0px;">Joined:</h2>		
		<div id="top-portion" class="center">
			<div id="playerlist"></div>
		</div>
		<input id="add_snack" placeholder="Snack Name"></input>
		<div id="bottom-portion" class="center">
			<div id="snacklist" class="center">
			</div>
			
		</div>

		<!--<img id="testing" alt="User Image">-->

		<!-- FOR IMAGE UPLOAD, CHANGE SHORTLY -->

		<!-- hidden form for file submission-->
		

		<form class="hidden" id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
			<input  type="file" id="file" name="file" accept="image/*" onchange="autoSubmit()">
			<input  type="text" id="snackname" name="snackname" accept="text">
		</form>
		
	</body>	

	<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
	
	<script>
		var SnackCount = 0;

		//var socket = io.connect("https://thepikenet.com");
		var socket = io.connect();

		const playerlist = document.getElementById('playerlist');
		const snacklist = document.getElementById('snacklist');
		
		function AddSnackLocal(SnackName){
			SnackCount += 1;
			const newSnackInput = document.createElement('input');
			newSnackInput.id = "snack-" + SnackCount;
			newSnackInput.value = SnackName;

			// Check to see if this snack has an image
			const img = new Image();
			
			//let searchTemplate = "{{ url_for('get_image', snackname='${SnackName}') }}"
			//let searchURL = searchTemplate.replace("${SnackName}", SnackName)
			

			newSnackInput.addEventListener('change', function() {
				UpdateSnack(newSnackInput.id.split("-")[1], newSnackInput.value)
			});
			
			const newSnackButton = document.createElement('button')
			newSnackButton.innerHTML = "+"

			console.log("Searching for " + SnackName)
			//document.getElementById("testing").src = `/image/Test2`
			img.src = `/image/${SnackName}`;
			//console.log("Searching for " + searchURL)

			img.onerror = function() {
        		console.log("Image failed to load.");
				newSnackButton.classList.add("no-image")
    		};
			
			
			
			newSnackButton.id = SnackName
			newSnackButton.onclick=function(){
				console.log("image uploading clicked")
				console.log(this.id)
				document.getElementById("snackname").value = this.id
				console.log(document.getElementById("snackname").value)
            	document.getElementById('file').click();
			};

			const newSnack = document.createElement('div')
			newSnack.appendChild(newSnackInput);
			newSnack.appendChild(newSnackButton);
			newSnack.classList.add("new-snack-grid")
			snacklist.appendChild(newSnack);
		}
	
		function AddSnack(SnackName){
			socket.emit('snack_added',{ name:SnackName });
		}

		const AddSnackField = document.getElementById("add_snack");
		AddSnackField.addEventListener('change', function() {
			console.log("New Snack Created")
			if(AddSnackField.value !== "")
			{
				AddSnack(AddSnackField.value)
				AddSnackField.value = "";
				//Create New Snack Field
			}
		});
		
		function UpdateSnack(ID, NewName){
			console.log("updating " + ID + " to " + NewName)
			socket.emit('snack_updated', { id:ID, newName:NewName });
		}

		//AddSnack("Awesome")
		function SnackUpdated(snackid, snackname){
			socket.emit('snack_updated', { id:snackid, name:snackname});
		}

		socket.on('update_snacklist', function(data) {
			console.log(data)
			snacklist.innerHTML = '';
			SnackCount = 0;
			Object.entries(data).forEach(([key, value]) => {
				AddSnackLocal(value)
			});
			bottomportion = document.getElementById("bottom-portion");
    		bottomportion.scrollTop = bottomportion.scrollHeight;
		});
		
		socket.on('update_playerlist', function(data) {
		
			playerlist.innerHTML = '';
			
			const playerlistArr = data.playerlist.split(':');

			playerlistArr.forEach(item => {
				const h2 = document.createElement('h2');
				h2.textContent = item;
				playerlist.appendChild(h2);
			});
			
			console.log("upated list " + data.playerlist)
		});

		socket.on('start_game',function(data){
			console.log(data.data)
			window.location.href = '/snackbox';
		});		

	

		function autoSubmit() {
            // Trigger the form submission when the file is selected
            document.getElementById('uploadForm').submit();
        }

	</script>
</html>
