@font-face {
    font-family: 'Franklin Gothic Demi Cond';
    src: url('Franklin\ Gothic\ Demi\ Cond.ttf') format('ttf'),
         
  }

@font-face {
    font-family: 'Franklin Gothic Medium Cond';
    src: url('Franklin\ Gothic\ Medium\ Cond.ttf') format('ttf'),
         
}

:root{
    --body-color: #171e26;
    --base-color: #101114;
    --text-color: white;
    --accent-color: #5898ad;
    --dark-accent-color: #22343a;
    --header-color:#101114;

    --border-accent:#5898ad;
    --button-color:#5898ad;
    --button-accent:#3e6673;

    --button-color-selected:#2aa34a;
    --button-accent-selected:#318547;
}
.lightmode{
    --base-color: white;
    --text-color: #2c241c;
    --accent-color: #f15483;
    --dark-accent-color: #2f80ba;
    --header-color:#F5B8C5;
    --body-color:linear-gradient(20deg, #ff9a9e, #fad0c4, white, #ffdde1);;

    --button-color:#f15483;
    --button-accent:#940242;

    --button-color-selected:#2aa34a;
    --button-accent-selected:#318547;
}

html{
    font-size: 14px;
}

* {
    transition: background-color .6s ease-in-out;
    box-sizing: border-box;
    
}
body{
    background:var(--body-color);
    color:var(--text-color);
    font-family: 'Franklin Gothic Demi Cond', sans-serif;
    margin: 0px;

}

.section-seperate{
    width: 90%;
    height: 5px;
    background-color: var(--accent-color);
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    
    width:100%;
    text-align: center;
    font-size:4rem;
}
h2{
    font-family: 'Franklin Gothic Medium Cond', sans-serif;
    width:100%;
    text-align: center;
    font-size:4rem;
}

input{
    font-size:3rem;
    height: 5vh;
    font-family: 'Franklin Gothic Medium Cond', sans-serif;
    border-radius: 30px;
    background-color:var(--button-color);
    border-color: #3fa9f5;
    border-width: 0px;
    padding-left: 2rem;
    color:white;
}

input::placeholder{
    color:White;

}
#snacklist
{
    width:100%;
}
#snacklist input{
    margin-bottom:1vh;
}

#snacklist button{
    width:80%;
}

button {
    border-radius: 30px;
    border-width: 0px;
    font-size:3rem;
    height: 5vh;
    
    background-color: var(--button-color);
    color:white;
    transition: box-shadow .6s ease-in-out,
                background-color .6s ease-in-out;

    box-shadow: 10px 10px var(--button-accent);
    font-family: "Consolas", monospace;
    font-weight: bold;
}

.hidden{
    display:none;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:10vh;
    background: var(--header-color);
}


.pikenet-logo{
    height:8vh;
}

#main-gui{
    margin-top: 2.5vw;
    display: grid;
    grid-template-columns: 100% 0vw; /* Two equal columns */
    gap: 20px;
    transition: grid-template-columns 1s ease-in-out;
    width: 100%;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll; 
}

#main-gui.expanded {
    grid-template-columns: 55% auto; /* Both columns equal */
    
}

#snackDisplay{
    width:100%;
    display: grid;
    background:var(--header-color);
    color:var(--text-color);
    grid-template-columns:auto auto; /* Two equal columns */
    gap: 20px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
   /* transition: grid-template-columns 1s ease-in-out;*/
    width: auto;
    height: auto;
    margin-bottom: 2.5vh;
}

.right-column {
    overflow-y: auto; 
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    align-content: flex-start; 
    gap: 2vw;
}

.left-column{
    overflow-y: 4vw; 
}

.rating-button {
    aspect-ratio: 1/ 1;
    height:auto;
    width:40%;
    border-radius: 30px;
    font-size:4rem;
    box-shadow: 7px 7px var(--button-accent);
}

.left-column button{
    width:80%;
    margin-bottom: 2vw;
}

@media (max-width: 600px) {
    html{
        font-size: 14px;
    }

    .rating-button {
        aspect-ratio: 1/ 1;
        height:auto;
        width:40%;
        border-radius: 20px;
        font-size:6rem;
    }
}
